body {
    background-color:black;
    font-family: Montserrat;
    color: white;
}

h2 {
    font-weight: bold;
    font-size: 36;
}

p {
    font-weight: 300;
    font-size: 18px;
}

.navbar {
    background-color: black;
    font-family: Montserrat;
    height: 91px;
}

.logo {
    height: 91px;
    width: auto;
}

.nav-link.active {
    font-weight: 800;
    text-decoration: underline;
}

.navbar-light .navbar-nav .nav-link {
    color: white !important;
}

.navbar-collapse {
    flex-grow: unset;
}

.nav-item {
    padding-left: 10px;
    padding-right: 10px;
}



nav {
    padding-left: 10px;
    padding-right: 10px;
}

#hero {
    background-image: url("../GitHub/images/Hero.png");
    height: 1835px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: -350px;
}

.jumbotron {
    display: flex;
    align-items: right;
    justify-content: right;
    text-align: right;
    padding-right: 5%;
}

.jumbotron h1 {
    color: white;
    font-family: mrs saint delafield;
    font-size: 144px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.jumbotron h3 {
    color: white;
    font-size: 36px;
    font-weight: 300;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.hero-section {
    margin-top: 15%;
}

.description {
    padding-right: 20px;
    
}



.verticalLine {
    border-left: thin solid white;
    padding-left: 40px;
}

#problem {
    margin-top: 100px;
    background-image: url(../GitHub/images/problemBackground.png);
    background-position: center;
    background-size: cover;
    height: 590px;
}

.topProblem {
    padding-left: 80px;
    padding-top: 50px;
}

.headings {
    font-weight: bold;
}

.middleProblem {
    padding-left: 80px;
    padding-top: 60px;
}

.bottomProblem {
 margin-top: 30px;
 padding-right: 80px;

}

.subHeadings {
    font-size: 24px;
}

#problemCont {
    margin-top: 80px;
    margin-bottom: 80px;
}

.softHeading {
    text-align: center;
    padding: 20px;
    margin-bottom: 50px;
    font-weight: 300;
    font-size: 36px;
}

#opportunity {
    background-color: #01506B;
    height: 580px;
}

.topOp {
    padding-left: 80px;
    padding-top: 50px;
}

.bottomOp {
    text-align: center;
    margin-top: 5%;
    padding: 80px;
}